{
  "env": {
    "node": true
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["promise", "prettier"],
  "rules": {
    "no-underscore-dangle": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "max-len": ["error", 112],
    "comma-dangle": [1, "always-multiline"],
    "linebreak-style": 0,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-use-before-define": [0, { "functions": false, "classes": false }]
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
