div#maindiv
  div#mostitle
    p#headertitle DiNA MOS Gateway
  nav#reveal
    a(href="about") Home
    a(href="about") About
    a(href="dina") Dina
    a(href="config") Config
    a(href="mos") MOS
    a(href="connected-clients") Connected Clients
  div
